*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  pointer-events: none;
}

:root {
  /* fonts */
  --fs-100: clamp(0.50rem, calc(0.55rem + 0.35vw), 0.80rem);
  --fs-200: clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
  --fs-300: clamp(0.94rem, calc(0.84rem + 0.51vw), 1.2rem);
  --fs-400: clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
  --fs-500: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
  --fs-600: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* colors */
  --accent: 183 74% 44%;
  --bkg: 190 60% 98%;
  --text: 185 26% 9%;
  --muted: 183 8% 55%;
  --light: 180 14% 85%;
  --warning: 4 66% 63%;
  --off-white: #E8E7EE;
  --gradient-one: #2879FF;
  --gradient-two: #D048FF;

  /* utils */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;
  --content-sm: 40ch;
  --content: 60ch;
  --round-sm: 4px;
  --round-md: 10px;
  --round-lg: 25px;
  --round-full: 100vmax;

  /* toast customizations */
  --toastify-color-success: var(--gradient-two);
}

body {
  font-family: "Open Sans", Roboto, "Helvetica Neue", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Oxygen, Ubuntu, Cantarell,   sans-serif;
  font-size: var(--fs-400);
  line-height: var(--lh-1-4);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: hsl(var(--bkg));
  overflow-x: hidden;
  color: hsl(var(--text));
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: var(--lh-1);
}

h1,
.h1 {
  font-size: var(--fs-600);
}

.text-off-white {
  color: var(--off-white);
}

h2,
.h2 {
  font-size: var(--fs-500);
}

h3,
.h3 {
  font-size: var(--fs-400);
}

small {
  font-size: var(--fs-200);
  line-height: var(--lh-1);
}

p {
  max-width: var(--content);
}

/* color utils */

.accent {
  color: hsl(var(--accent));
}

.muted {
  color: hsl(var(--muted));
}

/* links and buttons */

.delete-btn:hover{
  color: rgb(250, 16, 87);
}

.delete-btn:active{
  color: rgb(163, 0, 49);
}

.general-btn:hover{
  color: var(--gradient-one);
}

.general-btn:active{
  color: #1362e2;
}


:where(a, .btn) {
  --color: hsl(var(--text));
  --backdrop: hsl(var(--accent));
  font: inherit;
  color: var(--color);
  border-radius: var(--round-sm);
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

:where(a, .btn):focus {
  outline: none;
}



:where(.btn.btn--logout):is(:hover, :focus-visible) {
  background-image: linear-gradient(to top right, var(--gradient-one), var(--gradient-two));
}



.nav--item {
  color: var(--off-white);
}

:where(.nav--item):is(:hover, :focus-visible) {
  background-image: linear-gradient(to top right, var(--gradient-one), var(--gradient-two));
}

:where(.btn) {
  --color: hsl(var(--bkg));
  background-image: linear-gradient(to top right, var(--gradient-one), var(--gradient-two));
  color: var(--color);
  padding: var(--space-xs) var(--space-sm);
  border: none;
  margin-top: 1rem;
  font-size: var(--fs-300);
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--space-xs);
  width: 100%;

  cursor: pointer;
}

:where(.btn:hover){
  background-image: linear-gradient(to top right, #1362e2, #ab25d8);
}

:where(.btn.btn--logout) {
  background-image: none;
  background-color: #424242;
}



:where(.btn):is(:hover, :focus-visible) {
  background-color: var(--backdrop);
  color: var(--color);
}

:where(.btn--dark) {
  --backdrop: hsl(var(--text));
}

:where(.btn--outline) {
  background-color: var(--color);
  color: var(--backdrop);
  border: 2px solid var(--backdrop);
}

:where(.btn--outline):is(:hover, :focus-visible) {
  --backdrop: var(--outline);
  --color: hsl(var(--bkg));
  outline: 0px solid var(--outline);
}

:where(.btn--warning) {
  --backdrop: hsl(var(--warning) / 0.1);
  border: 2px solid hsl(var(--warning));
  --color: hsl(var(--warning));
}

:where(.btn--warning):is(:hover, :focus-visible) {
  --backdrop: hsl(var(--warning));
  --color: hsl(var(--bkg));
}

.btn[disabled] {
  opacity: 0.5;
}

/* utility layouts */

.flex-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  /* align-items: start; */
  gap: var(--space-lg);
}

.flex-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-md);
}

.flex-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-sm);
}

.grid-lg {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.card-add-expense {
  grid-template-columns: 1fr;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color:  var(--off-white);
}


.card {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  height: auto;
  max-width: 800px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-radius: 0.3em;
  margin: 10px auto;
  -webkit-box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  box-shadow: 0.25em 0.06em 0.2em hsl(var(--muted) / 0.2);
  /* box-shadow: inset 0.2em 0.1em 1em hsl(var(--muted) / 0.06); */
  /* border-top: 0.15em solid white;
  border-left: 0.15em solid white;
  border-right: 0.15em solid hsl(var(--bkg));
  border-bottom: 0.15em solid hsl(var(--bkg)); */
}

.card div p:last-child {
  opacity: 0.7;
  font-weight: 200;
  font-size: var(--fs-100);
  text-align: left;
}

.card div p:nth-child(1) {
  font-size: var(--fs-300);
  text-align: left;
  font-weight: bold;
  color: #1f1f1f;
}

.card div:nth-child(1) p:nth-child(1)
{
  word-wrap: break-word;

}

.expenses--listing{
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  min-height: 200px;
  max-height: 450px;

}



.list--expenses {
  min-height: 200px;
  max-height: 545px;
  height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 2rem;
  gap: var(--space-sm);
  -webkit-box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2); 
  box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2); 
  border-top: 0.15em solid white;
  border-left: 0.15em solid white;
  border-right: 0.15em solid hsl(var(--bkg));
  border-bottom: 0.15em solid hsl(var(--bkg)); 
}

@media (max-width: 1025px) {
  .grid--expenses {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(auto-fill, minmax(100px, auto)) !important;
  }

  .grid--cards {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(auto-fill, minmax(auto, auto)) !important;
  }

  .grid-sm.card-add-expense {
    grid-template-columns: 1fr 1fr;
  }

  .list--expenses{
    max-height: 350px;
  }

  .small--screen{
    padding-bottom: 100px;
  }
}

@media(max-width: 768px) {
  .grid-sm.card-add-expense {
    grid-template-columns: 1fr;
  }
}



.grid-md {
  display: -ms-grid;
  display: grid;
  gap: var(--space-md);
  width: 100%;
}

.grid-sm {
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  width: 100%;
}

.grid-xs {
  display: -ms-grid;
  display: grid;
  gap: var(--space-xs);
  width: 100%;
}

[hidden] {
  display: none;
}

/* main layout */
.layout {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.layout>img {
  width: 100%;
}

main {
  max-width: 1500px;
  width: 100%;
  padding: var(--space-md) var(--space-md) var(--space-xl);
  margin-inline: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

/* navbar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: var(--space-md);
  max-width: 1500px;
  margin-inline: auto;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-xs);
  text-decoration: none;
  font-weight: bold;
}



/* forms */
label {
  font-size: var(--fs-300);
  font-weight: bold;
}

.input-login {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #E8E7EE;

}

.input-login input::placeholder {
  color: #1b1b1b;
  opacity: 50%;

}


.intro-components {
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

input,
select {
  font: inherit;
  font-size: var(--fs-300);
  background-color: hsl(var(--bkg));
  border: 2px solid hsl(var(--muted));
  border-radius: var(--round-sm);
  padding: var(--space-xs) var(--space-sm);
  height: 100%;
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

:is(input, select):focus {
  outline: none;
}

/* Intro */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--space-lg);
}

.intro div {
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  max-width: var(--content-sm);
}

.intro form {
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  max-width: 25ch;
}

/* dashboard */
.dashboard {
  display: -ms-grid;
  display: grid;
  gap: var(--space-lg);
  place-items: start;
  width: 100%;
}


.wrapper {
  /* position: relative; */
  max-height: 545px;
  display: -ms-grid;
  display: grid;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 2rem;
  gap: var(--space-sm);
  -webkit-box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  border-top: 0.15em solid white;
  border-left: 0.15em solid white;
  border-right: 0.15em solid hsl(var(--bkg));
  border-bottom: 0.15em solid hsl(var(--bkg));
}

/* form */
.form-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 48%;
  flex: 1 1 48%;
  max-width: 800px;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  background-color: var(--bkg);
  padding: var(--space-xl);
  border-radius: var(--round-lg);
  -webkit-box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  border-top: 0.15em solid white;
  border-left: 0.15em solid white;
  border-right: 0.15em solid hsl(var(--bkg));
  border-bottom: 0.15em solid hsl(var(--bkg));
}

.form-wrapper::before {
  content: "";
  position: absolute;
  inset: 0.55rem;
  border: 2px dashed hsl(var(--text));
  border-radius: calc(var(--round-lg) * 0.6);
  z-index: -1;
}

.expense-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--space-md);
}

@media screen and (max-width: 725px) {
  .expense-inputs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}


/* error pages */
.error {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
  gap: var(--space-lg);
  padding-block: var(--space-lg);
  text-align: center;
}

/* chart component */
.table {
  overflow-y: scroll;

}

.expense--forms {
  background-color: #e8e7ee6b;
}


table {
  width: 100%;
  background-color: none;
  border-collapse: collapse;

}

table,
th,
td {
  border: none;
  background-color: #FFFFFF;
}

tr:nth-child(odd) {
  background-color: hsl(var(--accent) / 0.04);
}

td {
  border: none;
  font-size: var(--fs-200);
}

thead>tr:nth-child(odd) {
  background-color: hsl(var(--bkg));
}

td,
th {
  text-align: center;
  padding: var(--space-xs);
}

table .btn {
  margin-inline: auto;
}

table a {
  text-decoration: none;
  color: hsl(var(--bkg));
  background-color: hsl(var(--accent));
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--round-full);
}


@media (max-width: 1025px) {
  .filter--icon {
    padding-right: 20px;

  }
}

/* toast */
.Toastify__toast-body {
  font-size: var(--fs-300);
}